<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-auth.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "{{ .Site.Params.oink.firebase_api_key }}",
    authDomain: "{{ .Site.Params.oink.project }}.firebaseapp.com",
    databaseURL: "https://{{ .Site.Params.oink.project }}.firebaseio.com",
    projectId: "{{ .Site.Params.oink.project }}",
    storageBucket: "{{ .Site.Params.oink.project }}.appspot.com",
    messagingSenderId: "473127682708"
  };
  firebase.initializeApp(config);
</script>

<script src="/js/admin.js"></script>
