<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-auth.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBO4ObG_dC_31Hng10GZWmfFry3mFz0bOA",
    authDomain: "paymenttoy.firebaseapp.com",
    databaseURL: "https://paymenttoy.firebaseio.com",
    projectId: "paymenttoy",
    storageBucket: "paymenttoy.appspot.com",
    messagingSenderId: "473127682708"
  };
  firebase.initializeApp(config);
</script>

<script src="/js/admin.js"></script>
