service cloud.firestore {
  match /databases/{database}/documents {
    match /dumsorwatch_event/user_list {
      allow read: if false;
      allow create: if true;
    }
    match /dumsorwatch_event/invite_transaction {
      allow read: if false;
      allow create: if true;
    }
    match /dumsorwatch_event/dumsorwatch_event {
      allow read: if false;
      allow write: if true;
    }
    match /dumsorwatch_event/fcm_token {
      allow read: if false;
      allow write: if true;
    }
  }
}
