service cloud.firestore {
  match /databases/{database}/documents {
    match /user_list/{id} {
      allow read: if false;
      allow create: if true;
      allow update: if true;
    }
    match /invite_transaction/{id} {
      allow read: if false;
      allow create: if true;
    }
    match /dumsorwatch_event/{id} {
      allow read: if false;
      allow write: if true;
    }
    match /fcm_token/{id} {
      allow read: if false;
      allow write: if true;
    }
  }
}
